[submodule "test_app"]
	path = test_app
	url = https://github.com/bigmountainideas/roq-sample-app.git
[submodule "roq-template"]
	path = roq-template
	url = https://github.com/bigmountainideas/grunt-init-roq.git
